body {
    margin: 0;
    padding: 0;
    font-family: serif;
    background-color: #b19671;
}

.section {
    text-align: center;
    padding: 50px 0px;
}

.section h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.boxes {
    width: 150px;
    height: 150px;
    border: 3px solid #080b0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0fd9b7;
}

.boxes:hover {
    transform: scale(1.05);
}

.boxes i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #000;
}

.boxes p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}